body {
    font-family: Arial;
  }
  
  .split {
    height: 90%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 10%;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .right {
    right: 0;
    background-color: whitesmoke;
  }
  
  #top{
  height:10%;
  width:100%;
  }

  #c50 {
    position: absolute;
  }

  #c50header {
    padding: 10px;
    cursor: move;
  }